.l
{
    position: absolute;
    top: 10;
    right:3%;
    left: 17%;
    color: #036DB9;
}
.m{
    position: absolute;
    top: 80px;
    right: 4%;
    left: 52%;
    font-size: 26px;
    color: #036DB9;
}
.logo
{
    position: absolute;
    text-align: center;
    color: aqua;
    left:30%;
    right: 30%;
    padding-top: 5%;
}

.logo img{
    width:10%;
    height:10%;
}
.doc img
{
   
    height: 90%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


h2
{
    position: absolute;
    color: white;
    bottom: -50px;
    font-size: 70px;
    right: -19%;
    left: 13%;
    background-color: blue;
    border-radius: 100px 0px 100px 0px;
    padding: 6% 353px 6%;
}

h6
{
            position: absolute;
            margin-top: 48px;
            bottom: -109.5px;
            background-color: rgb(0, 255, 213);
            color: white;
            left: 18%;
            right: -12%;
            padding: 20px 295px;
            font-size: 50%;
}
section
{
    margin-top: 8%;
}
.abo{
    color: turquoise;
}
.us{
    position: absolute;
    color: #036DB9;
    top: 4%;
    left: 71px;
}
.te
{
    color: rgb(84, 226, 226);
    text-align: left;
}
.on{
    text-align: end;
    color: #036DB9;
}
.one img{
    height:30%;
    width:50%;
    background-color: #036DB9;
    border-radius: 50%;
    padding:3% 0% 3% 0%;
}
.con
{
    color: #036DB9;

}
.we{
    width:5% ;
    height: 5%;
}
.two
{
    display: flex;
    flex-direction: row;
}
.o1{
width: 30%;
    height: 30%;
}
.o2 {
    width: 30%;
    height: 30%;
}
.o3 {
    width: 30%;
    height: 30%;
}
.o4{
    padding-left: 8%;
}

.footer_left_content {
    width: 300px;
    padding-right: 20px;
    background-color: rgb(0, 203, 196);
    margin-left: 13%;
    text-align: end;
}

.footer_content1 {
    color: aliceblue;
    padding-top: 20px;
    padding-bottom:7px;
}

.footer_content2 {
    color: aliceblue;
    padding-bottom:7px;
}

.footer_content3 {
    color: aliceblue;
    padding-bottom:7px;
}

.footer_text1 {
    color: aliceblue;
    padding-bottom: 20px;
}

.footer_text2 {
    color: aliceblue;
    padding-bottom: 20px;
}

.footer_text3 {
    color: aliceblue;
    padding-bottom: 20px;
}

.content_text {
    color: aliceblue;
    background-image: linear-gradient(rgb(0, 172, 240), rgb(32, 95, 167));
    position: absolute;
    top: 490px;
    left: 750PX;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 30PX;
    padding-left: 30PX;
    width: 600px;
    border-radius: 50px 0px 50px 0px;
}

.content_text2 {
    color: aliceblue;
    background-color: rgb(76, 202, 192);
    position: absolute;
    top: 590px;
    left: 800px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 0PX;
    width: 450px;

}



.on_img {
    padding-right: 10px;
    text-align: right;
}

.on_img img {
    height: 20%;
    width: 40%;
    border-radius: 0 0 20% 0;
    margin-top: -3%;
    box-shadow: 10px 3px #036DB9;
}

.title h3 {
    background-color: #036DB9;
    text-align: center;
    margin: 0 0% 0 15%;
    padding: 3%;
    color: white;
    border-radius: 30px 0 0 0;
}

.services {
    background-color: #36CACF;
    margin-left: 20%;
    padding-bottom: 3%;
}

.all {
    padding: 5px;
    text-align: right;
    color: white;
}

.qr img {
    width: 30%;
    padding: 5%;
    margin-left: -15%;
    margin-top: 5%;
    background-color: #036DB9;
    border-radius: 15px 0;
}